<div class="jumbotron" style="background-color: #F1F1EB;">
  <div class="sign_up_form_container">
    <div style="padding-left: 10px;">
      <h4 class="form-group" style="font-weight: bold;">
        Just $20 per user per month
      </h4>
      <div class="form-group">
        Start your free 14-day trial:
      </div>
      <div class="form-inline">
        <input type="email" class="form-control" placeholder="Email address" name="email" id="email">
        <button type="submit" class="btn btn-large btn-success submit_button">Sign up!</button>
      </div>
    </div>
  </div>
  <div class="thanks_for_signing_up_container" style="display: none;">
    <p>
      Thanks for signing up to Coincraft! You just helped us validate our
      product idea and we are already underway building it. We'll let you know
      when things are up and running and thanks again for being our guinea pig!
    </p>
  </div>
  <div style="clear: both;"></div>
</div>

