<div class="jumbotron" style="background-color: #F1F1EB;">
  <div class="sign_up_form_container">
    <div style="padding-left: 10px;">
      <div class="form-group" style="font-weight: bold;">
        Just $20 per user per month
      </div>
      <div class="form-inline">
        Start your free 14-day trial:
        <input type="email" class="form-control" placeholder="Email address" name="email" id="email">
        <button type="submit" class="btn btn-large btn-success submit_button">Sign up!</button>
      </div>
    </div>
  </div>
  <div class="thanks_for_signing_up_container" style="display: none;">
    <p>Thanks for signing up!</p>
  </div>
  <div style="clear: both;"></div>
</div>

