{% extends "base.html" %}

{% block content %}
  <img src="/images/header.jpg" style="max-width: 100%;">

  <div class="container">
    <h1>
      Cash flow analysis for architects
    </h1>

    <div class="jumbotron">
      <div style="margin-left: 10%; margin-right: 10%;">
        <img src="/images/coincraft-mac.jpg" style="max-width: 100%;">
      </div>
    </div>

    <div class="jumbotron">
      <p>
        4Thought's Cash Flow Analysis allows architects to manage their cash
        flow for incoming projects. See bumps in the road months ahead of time
        and understand the consequences of projects being brought forward or
        pushed back - and discover when you need to find more work or when you
        need to find more staff.
      </p>
    </div>

    <div class="jumbotron">
      <div style="margin-left: 0%; margin-right: 0%;">
        <img src="/images/graph.png" style="max-width: 100%;">
      </div>
    </div>

    {% include "includes/sign_up_form.html" %}

    <div class="jumbotron">
      <p style="text-align: left;">
        Not just cash flow...
      </p>

      <ul>
        <li>Cash Flow Forecasting</li>
        <li>Budget Tracking</li>
        <li>Reporting</li>
        <li>Staff Scheduling</li>
        <li>Simple Timesheeting</li>
        <li>Accounting System Integration</li>
        <li>On the Cloud (works on Mac, Windows &amp; Linux) (cloud)</li>
      </ul>
    </div>
  </div>
{% endblock %}


