{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div>
      <img src="/4thought1809/images/header.jpg" style="max-width: 100%;">
    </div>

    <h1>
      Simple Staff Scheduling for Architects
    </h1>

    <div class="jumbotron">
      <div style="margin-left: 10%; margin-right: 10%;">
        <img src="/4thought1809/images/screenshot.png" style="max-width: 100%;">
      </div>
    </div>

    <div class="jumbotron">
      <p>
        4Thought's staff scheduling tool allows you to allocate staff to
        particular projects and let's you see what everyone is working on
        within your practice. You can quickly identify staff with too little or
        too much workload and manage the consequences of project movements.
      </p>
    </div>

    <div class="jumbotron">
      <div style="margin-left: 10%; margin-right: 10%;">
        <img src="/4thought1809/images/coincraft-mac.jpg" style="max-width: 100%;">
      </div>
    </div>

    <div class="jumbotron">
      <p>
        Stay on budget and on schedule with 4Thought's powerful reporting tools.
        4Thought can provide you with all the information you need to analyse the
        total cost of your staff and other project expenses - so you know how
        much a project is truly costing you and how much to charge your clients.
      </p>
    </div>

    {% include "includes/sign_up_form.html" %}

    <div class="jumbotron">
      <p style="text-align: left;">
        Not just staff scheduling...
      </p>

      <ul>
        <li>Reporting</li>
        <li>Staff Scheduling</li>
        <li>Budget Tracking</li>
        <li>Simple Timesheeting</li>
        <li>Cash Flow Forecasting</li>
        <li>Accounting System Integration</li>
        <li>On the Cloud (works on Mac, Windows &amp; Linux)</li>
      </ul>
    </div>

    {% include "includes/sign_up_form.html" %}
  </div>
{% endblock %}

