{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div>
      <img src="/4thought1809/images/header.jpg" style="max-width: 100%;">
    </div>

    <h1>
      Simple timesheets for architects
    </h1>

    <div class="jumbotron">
      <div style="margin-left: 10%; margin-right: 10%;">
        <img src="/4thought1809/images/screenshot.png" style="max-width: 100%;">
      </div>
    </div>

    <div class="jumbotron">
      <p>
        4Thought's timesheet tool provides beautiful and simple to use
        interface for all you staff members to record their timesheets
        against your projects and phases. With our online system timesheets
        can be recorded anywhere anytime.
      </p>
    </div>

    <div class="jumbotron">
      <div style="margin-left: 10%; margin-right: 10%;">
        <img src="/4thought1809/images/coincraft-mac.jpg" style="max-width: 100%;">
      </div>
    </div>

    <div class="jumbotron">
      <p>
        4Thought's powerful reporting tools allow you to find all the historic
        data you need for your architecture practice - whether it be for paying
        your staff, managing your costs or planning for future fee proposals.
      </p>
    </div>

    {% include "includes/sign_up_form.html" %}

    <div class="jumbotron">
      <p style="text-align: left;">
        Not just timesheeting...
      </p>

      <ul>
        <li>Simple Timesheeting</li>
        <li>Billable/un-billable time/cost analysis</li>
        <li>Reporting</li>
        <li>Staff scheduling</li>
        <li>Budget Tracking</li>
        <li>Cash Flow Forecasting</li>
        <li>Accounting system integration</li>
        <li>On the cloud (works on Mac, Windows &amp; Linux)</li>
      </ul>
    </div>

    {% include "includes/sign_up_form.html" %}
  </div>
{% endblock %}
